@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --color-primary: var(--color-cyan-300);
  --color-primary-content: var(--color-cyan-950);
  --color-secondary: var(--color-pink-400);
  --color-secondary-content: var(--color-pink-950);
  --color-error: var(--color-rose-500);
  --color-error-content: var(--color-rose-50);
  --radius-selector: 2rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
}

@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));

@theme {
  --text-xxs: 0.625rem;
  --font-inter: var(--font-inter);
  --container-8xl: 90rem;
  --color-content-muted: color-mix(
    in oklab,
    var(--color-base-content) 60%,
    transparent
  );
  --color-border: color-mix(
    in oklab,
    var(--color-base-content) 15%,
    transparent
  );
  --color-border-muted: color-mix(
    in oklab,
    var(--color-base-content) 10%,
    transparent
  );
}

@utility scrollbar-sm {
  scrollbar-width: thin;
}

@utility scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;
  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility transition-inherit-all {
  transition-property: inherit;
  transition-duration: inherit;
  transition-timing-function: inherit;
}

@layer base {
  * {
    @apply border-border font-inter scroll-smooth;
  }
  body {
    @apply bg-base-100 text-base-content;
  }
  [role="button"],
  button {
    cursor: pointer;
  }
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(6);
    opacity: 0;
  }
}

.input:focus,
.input:focus-within {
  @apply ring-primary border-0 ring-2 ring-offset-0 outline-0 transition duration-300!;
}

input:-webkit-autofill {
  background-clip: text;
}
